/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px;

}

titre-jaune{
    color:#fdc007;
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}



.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/Accueil/banniere.jpg);
    background-repeat: no-repeat;
    /*filter : brightness(40%);*/
    height: auto;
    background-size: 100%;
    padding: 0px 0px 20px 10px;
}

.bg-light {
    background-color: transparent !important;
}

.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.logo_mobile {
    width: 100%;
    float: left;
    padding-bottom: 20px;
}

.mobile_menu {
    width: 100%;
    float: left;
    display: none;
    background-color: #4c50d5;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.navbar-nav {
    align-items: center;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    /*border-radius: 20px;
    border: 2px solid #fff;*/
    margin: -6px 0px 0px 0px;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.menu_main {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}

.menu_main li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;

}

.menu_main li a {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(21, 21, 17, 0.66);
    margin-right: 10px;
}


.menu_main li a:hover {
    color: #ffffff;
    background-color: #2b2278;
}

.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.header_main {
    width: 100%;
    background-image: url(../images/header-bg.png);
    background-size: 100%;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 35px;
}
.banner_connexion {
    width: 100%;
    float: left;

}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', Regular;
}

.banner_text {
    width: 63%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.read_bt {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #141414;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: 400;
}

.read_bt a:hover {
    background-color: #2b2278;
    color: #ffffff;
}


/* banner section end */


/* services section start */

.services_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    text-align: center;
}

.services_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
}

.services_section_2 {
    width: 100%;
    float: left;
    margin-top: 90px;
}

.services_img {
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 10px;
}

.btn_main {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.btn_main a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-transform: uppercase;
}

.btn_main a:hover {
    color: #ffffff;
    background-color: #000d10;
}

.btn_main.active a {
    color: #ffffff;
    background-color: #000d10;
}


/* services section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_taital_main {
    width: 100%;
    padding-left: 100px;
    padding-top: 70px;
    text-align: center;
}
#about_btn{
    text-align: center;
}

.padding_right_0 {
    padding-right: 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
    padding-top: 40px;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 50px;
    align-content: center;
    margin-left: 40%;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #04090c;
}

.about_img {
    width: 75%;
    float: left;
    margin-top: 60px;
}


/* contact section end */


/* blog section start */

.blog_section {
    width: 100%;
    float: left;
    background-image: url(../images/blog-bg.png);
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 345px;
    padding-top: 200px;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.blog_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}

.play_icon_main {
    width: 100%;
    margin-top: 150px;
    float: left;
}

.play_icon {
    width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 70px;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: inherit;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }
    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}

.margin_top_90{
    margin-top: 90px;
}
/* blog section end */


/* jeu section start */

.jeu_section {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.jeu_taital {
    width: 100%;
    font-size: 40px;
    color: #131313;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.jeu_section_2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 16px -6px;
    border-radius: 30px;
    padding: 50px 70px;
    margin-top: 50px;
}

.jeu_main {
    width: 100%;
    display: flex;
    padding: 0px 20px 0px 20px;
}




.jeu_img {

    border-radius: 20px;
    max-height: 250px;

}




.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #8781bd;
    bottom: -100px;
}

.carousel-indicators .active {
    background-color: #2b2278;
}


/* jeu section end */


/* choose section start */

.choose_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.choose_taital {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    text-align: center;
}

.choose_text {
    width: 70%;
    margin: 0 auto;
    font-size: 16px;
    color: #1f1f1f;
    padding-top: 30px;
    text-align: center;
}

.read_bt_1 {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #000d10;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.read_bt_1 a:hover {
    background-color: #2b2278;
    color: #ffffff;
}

.newsletter_box {
    width: 100%;
    border: 1px solid #6e6e6e;
    border-radius: 25px;
    padding: 20px 30px;
    display: flex;
    margin-top: 90px !important;
    float: left;
}

.let_text {
    width: 100%;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
    padding-bottom: 0px;
}

.getquote_bt {
    width: 200px;
    padding-top: 6px;
}

.getquote_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
}

.getquote_bt a:hover {
    background-color: #000d10;
    color: #ffffff;
}


/* choose section end */

/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #363636;
    text-align: center;
    font-weight: bold;
}
.email_text {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
}
.email-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.massage-bt {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #393838;
    margin-bottom: 20px;
    padding: 10px 15px;
    border: 0px;
    border: 1px solid #2b2278 !important;
}
.send_btn {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.send_btn a {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #000d10;
    padding: 7px;
}
.send_btn a:hover {
    color: #ffffff;
    background-color: #2b2278;
}
/* contact section end */



/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-image: url(../images/footer-bg.png);
    height: auto;
    padding-top: 250px;
    background-size: 100% 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}

.input_btn_main {
    width: 50%;
    display: flex;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 8px 0px;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #2b2c2c;
    background-color: #ffffff;
    height: auto;
    padding: 5px 20px;
    border-radius: 20px;
    border: 0px;
}

.subscribe_bt {
    float: right;
}

.subscribe_bt a {
    width: 170px;
    float: left;
    font-size: 18px;
    color: #2b2278;
    background-color: transparent;
    padding: 5px 0px;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

.subscribe_bt a:hover {
    color: #000;
    background-color: transparent;
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}

.social_icon li {
    float: left;
    padding: 30px 5px;
}

.location_main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.call_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding-top: 10px
}

.call_text a {
    color: #ffffff;
}

.call_text a:hover {
    color: #e27141;
}


/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #122c2d;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #e27141;
}


/* footer start*/
footer{
    background-color: #2b2278;

}
.footer-basic {

    background-color: #2b2278;
    color: whitesmoke;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
}

.footer-basic ul a:hover {
    color: #000000;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color: whitesmoke;


}

.footer-basic .social > a:hover {
    opacity:0.9;
    color: whitesmoke;
    border:1px solid #000000;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
/* footer end*/

/* calendrier start*/
.gj-icon{
    margin-right: -40px;
}
.input-group{
    margin-left: 50px;
    text-align: center;
    margin-top: 10px;
}
/* calendrier start*/


.row-cosplay {
    margin-left: -15px;
    margin-right: -15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

}
.row-carousel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;

}
.col-4{
    margin-top: 30px;
}

.flip-card {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border-radius: 1rem;
}

.flip-card-front {
    background: linear-gradient(120deg, rgba(76, 80, 213, 0.75) 60%, rgba(16, 166, 215, 0.55) 88%,
    rgb(16, 166, 215) 40%, rgb(76, 80, 213) 48%);
    color: #2b2278;
}

.flip-card-back {
    background: linear-gradient(120deg, rgba(76, 80, 213, 0.66) 60%, rgb(16, 166, 215) 88%,
    rgb(16, 166, 215) 40%, rgba(76, 80, 213, 0.66) 48%);
    color: white;
    transform: rotateY(180deg);
}




/* Qui-sommes-nous section start */

.Nous_section {
    width: 100%;
    float: left;
}

.Nous_taital_main {
    width: 100%;
    text-align: center;
}
#Nous_btn{
    text-align: center;
}


.Nous_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: bold;
}

.Nous_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #1f1f1f;
    margin: 0px;
}

#Nous_img_bis{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}
#img_Robotique{
    margin-bottom: 70px;
}

#Nous_img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 60%;
    text-align: center;

}
.Nous-row{
    display: flex;
}
.Nous_titre{
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Qui-sommes-nous section end */

.btn-tournois {
    width: 170px;
    float: left;
    margin-top: 50px;
    align-content: center;
    margin-left: 40%;
}

.btn-tournois a {
    width: 300px;
    float: right;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2278;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 50px;

}
/* Page Admin */
.table td, .table th{
    vertical-align: middle;
}
.fa-circle-plus{
    color: #2b2278;
}
.fa-circle-plus:hover{
    color: #04090c;
}
.img-admin-ajouter{
    width:40px;
    height:40px;
    margin-right: 100px;
}
.img-admin-supprimer{
    margin-left: 150px;
    width:40px;
    height:40px;
}
.text-admin{
    margin-top: 10px;
}

/* Page Admin end */

